@import "bourbon";
@import "sass/vars";
@import "sass/base";
header{
  background:url("../img/background.jpg") 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;

  .wrapper{
    background: #000000 url("../img/aside_bg.jpg");
      .logo{
        img{
          width: 85%;
          margin-top:35px;
        }
    }
    .menu{
      margin-top: 200px;
      ul{
        li{
          list-style: none;
          padding-top: 25px;
          padding-left: 15px;

          a{
            font-family:Cuprum, sans-serif;
            color:rgba(255,255,255, .8);
            text-decoration: none;
            font-size: em(21px);
            text-transform: uppercase;
            text-align: center;
            &:hover{
              color:rgba(255,255,255, 10);
              @include transition-duration(.9s);

            }

          }
        }
      }
    }
    .social{
      margin-top:80px;
      ul{
        li{
          list-style: none;
          display:inline-block;
          margin-left: 10px;
          a{
            i{
              font-size:em(28px);
            }
          }
        }
      }
    }
  }

  .wrapper-home_center{
     @include outline(red);
      height: 100%;
      background-color: #f8f8f8;
    .owl-carousel{
      height: 100%;
      img{
        max-width:65%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .wrapper-home_right{
    @include outline(green);
    padding: 0;
    height: 100%;
      .box-1{
        @include outline(red);
        height: 54%;
        background-color: #00a000;
      }
      .box-2{
        @include outline(red);
        height: 46%;
        background-color: #4a90e2;
      }
      .box-3{
        @include outline(green);
        height: 46%;
        background-color: #00a2ff;
      }
  }


}

//First screen styles
