@import "bourbon";
@import "sass/vars";
@import "sass/base";
header{
  background:url("../img/background.jpg") 100% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;

  .wrapper{
    background: #000000 url("../img/aside_bg.jpg");
      .logo{
        img{
          width: 85%;
          margin-top:35px;
        }
    }
    .menu{
      margin-top: 200px;
      ul{
        li{
          list-style: none;
          padding-top: 25px;
          padding-left: 15px;

          a{
            font-family:Cuprum, sans-serif;
            color:rgba(255,255,255, .8);
            text-decoration: none;
            font-size: em(21px);
            text-transform: uppercase;
            text-align: center;
            &:hover{
              color:rgba(255,255,255, 10);
              @include transition-duration(.9s);

            }

          }
        }
      }
    }
    .social{
      margin-top:80px;
      ul{
        li{
          list-style: none;
          display:inline-block;
          margin-left: 10px;
          a{
            i{
              font-size:em(28px);
            }
          }
        }
      }
    }
  }

  .wrapper-home_center{
     @include outline(red);
      height: 100%;
      background-color: #f8f8f8;
    .owl-carousel{
      height: 100%;

      .owl-item{
        .title{
          display: block;
          zoom: 1;
          width: 380px;
          height: 350px;
          text-indent: -6000px;
          text-align: left;
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          margin: 0px auto;
        }
      }

      img{
        max-width:65%;
        display: block;
        margin: 0 auto;
      }
    }
    .owl-nav{
      position: absolute;
      top:60%;
      width: 100%;
      div.owl-prev{
        background-position: 0px 0px;
        left: 10%;
      }
      div.owl-next{
        background-position: -23px 0;
        left: 82%;
      }
      div{
        background:url("../img/sprite.png") no-repeat  center center ;
        display: inline-block;
        zoom: 1;
        width: 24px;
        height: 41px;
        text-indent: -6000px;
        text-align: left;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        z-index: 1000;
        cursor: pointer;


      }
    }
  }

  .wrapper-home_right{
    @include outline(green);
    padding: 0;
    height: 100%;
      .box-1{
        @include outline(red);
        max-height: 54%;
        //background:url("../img/layer/1.jpg") no-repeat center;
        //background-size: cover;
        padding: 0;
      }
      .box-2{
        @include outline(red);
        height: 46%;
        padding: 0;
      }
      .box-3{
        @include outline(green);
        height: 46%;
        padding: 0;
      }


  }


}


//First screen styles
